@model TaxiSoftWeb.Models.Itv

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Itv</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VigenciaDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VigenciaDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VigenciaHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VigenciaHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoNavigation.IdVehiculo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdItv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
