@model IEnumerable<TaxiSoftWeb.Models.Seguro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroPoliza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aseguradora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroPoliza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aseguradora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VigenciaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VigenciaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.IdVehiculo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeguro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeguro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeguro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
