@model IEnumerable<TaxiSoftWeb.Models.Mantenimiento>

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="padding: 1rem;">
    <div class="card-header">
        <h2>Mantenimientos</h2>
    </div>
<div class="card-body table-responsive p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Fecha del Mant.
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Valor)
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Movil
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaMant)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoANavigation.NomEstadoA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.IdVehiculo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdMant" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.IdMant" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.IdMant" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

</div>
<div class="card-body">
        <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-plus"></i> Agregar</a>
</div>
</div>


