@model IEnumerable<TaxiSoftWeb.Models.Carnet>

@{
    ViewData["Title"] = "Index";
}

<h1>Carnets</h1>

<table class="table" id="CarnetTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NroCarnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VtoCarnet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NroCarnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VtoCarnet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCarnet">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCarnet">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCarnet">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#CarnetTable').DataTable({
               
            });
        });
    </script>
}
