@model IEnumerable<TaxiSoftWeb.Models.Carnet>

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="padding: 1rem;">
    <div class="card-header">
        <h1>Carnets</h1>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table" id="CarnetTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NroCarnet)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VtoCarnet)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NroCarnet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VtoCarnet)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdCarnet" class="btn btn-outline-warning">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdCarnet" class="btn btn-outline-info">Ver</a>
                            <a asp-action="Delete" asp-route-id="@item.IdCarnet" class="btn btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




