@model IEnumerable<TaxiSoftWeb.Models.Alerta>

@{
    ViewData["Title"] = "Index";
}



<div class="card" style="padding: 1rem;">
    <div class="card-header">
        <h2>Alertas</h2>       
    </div>
    <div class="card-body table-responsive p-0">

        <table class="table table-hover" id="AlertaTable">
            <thead>
                <tr>
                    <th>
                        Fecha de Inicio
                    </th>
                    <th>
                        Fecha de Fin
                    </th>
                    <th>
                        Recordatorio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDesde)                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHasta)
                        </td>
                        <td>
                            <strong>
                                @Html.DisplayFor(modelItem => item.DiasAnticipacion)
                                día antes
                            </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoANavigation.NomEstadoA)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdAlerta" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.IdAlerta" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.IdAlerta" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>       
        
    </div>
    <div class="card-body">
        <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-plus"></i> Agregar</a>
</div>
</div>




@section scripts{
    <script>
        $(document).ready(function () {
            $('#AlertaTable').DataTable({

            });
        });
    </script>
}