@model IEnumerable<TaxiSoftWeb.Models.Alerta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasAnticipacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoANavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasAnticipacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoANavigation.IdEstadoA)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlerta">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlerta">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlerta">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
