@model IEnumerable<TaxiSoftWeb.Models.Alerta>

@{
    ViewData["Title"] = "Index";
}

<h1>Alertas</h1>

<div class="card">
    <div class="card-header">
        
        <p>
            <a asp-action="Create" class="btn btn-outline-success">Crear Alerta</a>
        </p>        
    </div>

    <div class="card-body table-responsive p-0">

        <table class="table table-hover" id="AlertaTable">
            <thead>
                <tr>
                    <th>
                        Fecha de Inicio
                    </th>
                    <th>
                        Fecha de Fin
                    </th>
                    <th>
                        Recordatorio
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        Estado
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaDesde)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaHasta)
                        </td>
                        <td>
                            <strong>
                                @Html.DisplayFor(modelItem => item.DiasAnticipacion)
                                día antes
                            </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdEstadoANavigation.NomEstadoA)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdAlerta" class="btn btn-outline-warning">Editar</a> 
                            <a asp-action="Details" asp-route-id="@item.IdAlerta"class="btn btn-outline-info">Ver</a>
                        <a asp-action="Delete" asp-route-id="@item.IdAlerta" class="btn btn-outline-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#AlertaTable').DataTable({

            });
        });
    </script>
}