@model TaxiSoftWeb.Models.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminarlo?</h3>
<div>
    <h4>Movil</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            Año
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cilindraje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cilindraje)
        </dd>
        <dt class="col-sm-2">
            Número de Motor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroMotor)
        </dd>
        <dt class="col-sm-2">
            Número de Chasis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroChasis)
        </dd>
        <dt class="col-sm-2">
            Vigente
        </dt>
        <dd class="col-sm-10">
            @if (System.Convert.ToBoolean(@Model.Activo))
            {
                <span>Si</span>
            }
            else
            {
                <span>No</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVehiculo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
