@model IEnumerable<TaxiSoftWeb.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="padding: 1rem;">
    <div class="card-header">
        <h2>Moviles</h2>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover" id="VehiculosTable">
            <thead>
                <tr>
                    <th>
                        Movil
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Chapa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Modelo)
                    </th>
                    <th>
                        Año
                    </th>
                    <th>
                        Vigente
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdVehiculo)
                        </td>

                        @*                        <td>
                    @Html.DisplayFor(modelItem => item.Patente)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Chapa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anio)
                        </td>
                        @*                <td>
                    @Html.DisplayFor(modelItem => item.Cilindraje)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NroMotor)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.NroChasis)
                    </td>*@
                        <td>
                            @if (System.Convert.ToBoolean(item.Activo))
                            {
                                <span>Si</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                            @*@Html.DisplayFor(modelItem => item.Activo)*@
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdVehiculo" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                            <a asp-action="Details" asp-route-id="@item.IdVehiculo" class="btn btn-outline-info"><i class="fas fa-info-circle"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.IdVehiculo" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    <div class="card-body">
        <a asp-action="Create" class="btn btn-outline-success"><i class="fas fa-plus"></i> Agregar</a>
    </div>
</div>

@section scripts{
}