@model IEnumerable<TaxiSoftWeb.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}
<h1>Moviles</h1>

<p>
    <a asp-action="Create">Cargar Movil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Movil
            </th>
            @*                    <th>
            @Html.DisplayNameFor(model => model.Patente)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Chapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                Año
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.Cilindraje)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.NroMotor)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.NroChasis)*@
            </th>
            <th>
                Vigente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdVehiculo)
                </td>
                
                @*                        <td>
            @Html.DisplayFor(modelItem => item.Patente)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Chapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
@*                <td>
                    @Html.DisplayFor(modelItem => item.Cilindraje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroMotor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NroChasis)
                </td>*@
                <td>
                    @if (System.Convert.ToBoolean(item.Activo))
                    {
                        <span>Si</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                    @*@Html.DisplayFor(modelItem => item.Activo)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdVehiculo">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdVehiculo">Ver</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdVehiculo">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"></div>
<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"></div>
</div>


