@model IEnumerable<TaxiSoftWeb.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cilindraje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroMotor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroChasis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cilindraje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroChasis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehiculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehiculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehiculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
