@model TaxiSoftWeb.Models.RegistrosDeCaja

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RegistrosDeCaja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegisCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegisCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Concepto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Concepto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuilNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuilNavigation.Cuil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCajaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCajaNavigation.IdCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOperacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOperacionNavigation.IdOperacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTurnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTurnoNavigation.IdTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVehiculoNavigation.IdVehiculo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRegistroCaja" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
