@model IEnumerable<TaxiSoftWeb.Models.RegistrosDeCaja>

@{
    ViewData["Title"] = "Index";
}

<h1>Cierres de Caja</h1>

<p>
    <a asp-action="Create">Crear Registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Turno
            </th>

            <th>
                Movil
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>

            <th>
                Caja/Chofer
            </th>
            <th>
                Operación
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegisCaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTurnoNavigation.NomTurno)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.IdVehiculo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdCajaNavigation.NomCaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOperacionNavigation.NomOperacion)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRegistroCaja">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRegistroCaja">Ver</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRegistroCaja">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
