@model IEnumerable<TaxiSoftWeb.Models.Conductore>

@{
    ViewData["Title"] = "Index";
}

<h1>Choferes</h1>

<p>
    <a asp-action="Create">Cargar Chofer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Carnet
            </th>
@*            
            <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCarnetNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDomicilioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPuestoNavigation)
            </th>*@
            <th>
               Turno
            </th>
            <th>
               Movil
            </th>
            <th>
               Vigente
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCarnetNavigation.NroCarnet)
                </td>
@*           
                <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCarnetNavigation.NroCarnet)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdDomicilioNavigation.IdDomicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPuestoNavigation.CalifProfesional)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdTurnoNavigation.NomTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculoNavigation.IdVehiculo)
            </td>
                <td>
                    @if (System.Convert.ToBoolean(item.Activo))
                    {
                        <span>Si</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
@*                    @Html.DisplayFor(modelItem => item.Activo)
*@                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cuil">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Cuil">Ver</a> |
                <a asp-action="Delete" asp-route-id="@item.Cuil">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
